<br>
<!-- <h2 class="text-center text-bold"> You clicked on {{single_product_id}}</h2> -->
 <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/buyer-dashboard">Buyer</a>
            </li>
            <li class="breadcrumb-item">
                <a>Checkout</a>
            </li>
    </ol>
 </nav>
 <div class="col-md-8">
    <div class="card">
        <div class="card-header">
            Product details
        </div>
        <div class="card-body product-detail">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{individual_product.uploadPhoto}}" card="card-img-top" alt="{{individual_product.name}}">
                </div>
                <div class="col-md-8">
                    <h4 class="text-bold card-title">
                    {{individual_product.name}}
                    </h4><br>
                    <p class="card-text product-desc">
{{individual_product.productDesc}}
                    </p>
                    <p><span class="float-left"><strong>MRP:</strong><del>{{individual_product.mrp}}</del></span>
                    <span class="float-right"><strong>DP</strong>: {{individual_product.discoutPrice}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
  <div class="col-md-4">
    <div class="card">
        <div class="card-header">
            Address Details
        </div>
        <div class="card-body">
            <h5 class="card-title text-bold">
                {{user_address.name}}
            </h5>
            <p class="card-text">{{user_address.addLine1}} ,  {{user_address.addLine2}}</p>
            <p class="card-text">{{user_address.city}}, {{user_address.state}}</p>
            <p class="card-text">Postal Code: {{user_address.zipCode}}</p>
            <p class="card-text">Contact Number: {{user_contact_num}}</p>
            <a (click)="placeOrder()" class="btn-btn-primary">Delivery Here</a>
            <div class="alert alret-info" role="alert">
                <strong>Note:</strong>
                We are not giving multiple address addition, if you want to deliver in different adddress for new change in address 
                <span routerLink="/my-profile" class="text-info sim-pointer">My Profile</span>
                Section.
            </div>

        </div>
    </div>
  </div>
 </div>