<br>
<div class="row">
    <div class="col-md-10">
        <strong>All User List</strong>
    </div>
    <div class="col-md-2">
        <button class="btn btn-dark float-right" type="button" (click)="addUserPopup()" 
        data-bs-toggle="modal" data-bs-target="#addEditUserModal">
            Add New User</button>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Email</th>
            <th scope="col">DOB</th>
            <th scope="col">City</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user_data of all_user_data; let i=index">
            <th scope="row">{{i + 1}}</th>
            <td>{{user_data.name}}</td>
            <td>{{user_data.mobNumber}}</td>
            <td>{{user_data.Email}}</td>
            <td>{{user_data.dob}}</td>
            <td>{{user_data.city}}</td>
            <td>{{user_data.role}}</td>
            <td>
                <span class="sim-pointer" (click)="editUserPopup(user_data.id)" data-bs-toggle="modal"
                    data-bs-target="#addEditUserModal">Edit</span> &nbsp; &nbsp;
                <span class="sim-pointer" (click)="deleteUser(user_data.id)">Delete</span>
            </td>

        </tr>
    </tbody>
</table>
<!-- modal for Add user adn edit user-->
<div class="modal fade" id="addEditUserModal" tabindex="-1" role="dialog" aria-labelledby="addEditUserModal"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{popup_header}}</h5>
                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="close">
                        <span aria-hidden="true"> &times; </span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <form [formGroup]="addEditUserForm" >
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control" formControlName="name">
                                </div>
                                <div class="form-group">
                                    <label for="mobNumber">Mobile Number</label>
                                    <input type="tel" class="form-control" formControlName="mobNumber">
                                </div>
                                <div class="form-group">
                                    <label for="age">Age</label>
                                    <input type="number" class="form-control" formControlName="age">
                                </div>
                                <div class="form-group">
                                    <label for="dob">Dob</label>
                                    <input type="date" class="form-control" formControlName="dob">
                                </div>
                                <!-- New Row-->
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" placeholder="test@email.com"
                                            formControlName="email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="email">Password</label>
                                        <input type="password" class="form-control" placeholder="password"
                                            formControlName="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" class="form-control" placeholder="123, street"
                                            formControlName="addLine1">
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Address 2</label>
                                        <input type="text" class="form-control" placeholder="123, street"
                                            formControlName="addLine2">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" placeholder="city" formControlName="city">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="state">State</label>
                                         <select id="inputState" class="form-control" formControlName="state">
                                            <option selected>Choose...</option>
                                            <option>Punab</option>
                                            <option>Sindh</option>
                                            <option>Karach</option>
                                            <option>Lahore</option>
                                            </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="zip">Zip Code</label>
                                        <input type="text" class="form-control" placeholder="12345" formControlName="zipCode">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lanuage">Lanuage</label>
                                    <select multiple class="form-control" formControlName="language">
                                        <option>Urdu</option>
                                        <option>English</option>
                                        <option>Hindi</option>
                                        <option>Punjabi</option>
                                        <option>Others</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="gender">gender</label>
                                    <div class="form-check form-check-inline">
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-inline" formControlName="gender" value="Male">
                                        <label for="male" class="form-check-inline">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-inline" formControlName="gender" value="FeMale">
                                        <label for="female" class="form-check-inline">FeMale</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" class="form-check-inline" formControlName="gender" value="Others"
                                        [disabled]="true">
                                        <label for="others" class="form-check-inline">Others</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="aboutyou">About You</label>
                                    <textarea class="form-control" row="3" formControlName="aboutYou"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="uploadPhoto">upload Photo</label>
                                    <input type="file" class="form-control" formControlName="uploadPhoto">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" class="form-check-inline" formControlName="agreetc">
                                    <label for="agreetc" class="form-check-inline">Terms and Conditions</label>
                                </div>
                                <div class="form-group">
                                    <label for="state">What do you want ?</label>
                                     <select  class="form-control" formControlName="role">
                                        <option value="seller">Seller</option>
                                        <option value="buyer">Buyer</option>
                                        </select>
                                </div>
                               <div class="form-group">
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="addUser()" *ngIf="add_user">Register</button>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateUser()" *ngIf="edit_user">Update User</button>
       
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
           
    </div>

</div>